PushNotification/Code/Sample/NotifyMe/Service References/NotificationWebService/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveToDeviceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subscribeUri" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveToDeviceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveToDeviceListResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromDeviceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromDeviceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveFromDeviceListResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Notification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotificationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificationParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificationParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotificationParamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveToDeviceListSoapIn">
    <wsdl:part name="parameters" element="tns:SaveToDeviceList" />
  </wsdl:message>
  <wsdl:message name="SaveToDeviceListSoapOut">
    <wsdl:part name="parameters" element="tns:SaveToDeviceListResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveFromDeviceListSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveFromDeviceList" />
  </wsdl:message>
  <wsdl:message name="RemoveFromDeviceListSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveFromDeviceListResponse" />
  </wsdl:message>
  <wsdl:message name="NotificationSoapIn">
    <wsdl:part name="parameters" element="tns:Notification" />
  </wsdl:message>
  <wsdl:message name="NotificationSoapOut">
    <wsdl:part name="parameters" element="tns:NotificationResponse" />
  </wsdl:message>
  <wsdl:message name="NotificationParamSoapIn">
    <wsdl:part name="parameters" element="tns:NotificationParam" />
  </wsdl:message>
  <wsdl:message name="NotificationParamSoapOut">
    <wsdl:part name="parameters" element="tns:NotificationParamResponse" />
  </wsdl:message>
  <wsdl:portType name="NotificationServiceSoap">
    <wsdl:operation name="SaveToDeviceList">
      <wsdl:input message="tns:SaveToDeviceListSoapIn" />
      <wsdl:output message="tns:SaveToDeviceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromDeviceList">
      <wsdl:input message="tns:RemoveFromDeviceListSoapIn" />
      <wsdl:output message="tns:RemoveFromDeviceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Notification">
      <wsdl:input message="tns:NotificationSoapIn" />
      <wsdl:output message="tns:NotificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotificationParam">
      <wsdl:input message="tns:NotificationParamSoapIn" />
      <wsdl:output message="tns:NotificationParamSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationServiceSoap" type="tns:NotificationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveToDeviceList">
      <soap:operation soapAction="http://tempuri.org/SaveToDeviceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromDeviceList">
      <soap:operation soapAction="http://tempuri.org/RemoveFromDeviceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notification">
      <soap:operation soapAction="http://tempuri.org/Notification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificationParam">
      <soap:operation soapAction="http://tempuri.org/NotificationParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationServiceSoap12" type="tns:NotificationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveToDeviceList">
      <soap12:operation soapAction="http://tempuri.org/SaveToDeviceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromDeviceList">
      <soap12:operation soapAction="http://tempuri.org/RemoveFromDeviceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notification">
      <soap12:operation soapAction="http://tempuri.org/Notification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificationParam">
      <soap12:operation soapAction="http://tempuri.org/NotificationParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="NotificationServiceSoap" binding="tns:NotificationServiceSoap">
      <soap:address location="http://192.168.1.18:5565/NotificationService.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationServiceSoap12" binding="tns:NotificationServiceSoap12">
      <soap12:address location="http://192.168.1.18:5565/NotificationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>